### Customer Segmentation

DESCRIPTION

An e-commerce company has prepared a rough dataset containing shopping
details of it customers, which include CustomerID, Genre, Age, Annual Income (k$), and
Spending Score (1-100). The company is unable to target a specific set of customers with a particular
set of SKUs.

**Objective**: Segment customers into different groups based on their shopping trends.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import AgglomerativeClustering
from sklearn.metrics import pairwise_distances
from sklearn.metrics import mean_squared_error

In [2]:
df = pd.read_csv('shopping_data.csv')
df.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Genre                   200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

In [26]:
df.groupby(df['Genre']).mean()

        CustomerID        Age  Annual Income (k$)  Spending Score (1-100)
Genre
Female   97.562500  38.098214           59.250000               51.526786
Male    104.238636  39.806818           62.227273               48.511364