### DESCRIPTION

Reduce the time a Mercedes-Benz spends on the test bench.
Problem Statement Scenario:
Since the first automobile, the Benz Patent Motor Car in 1886, Mercedes-Benz has stood for important automotive innovations. These include the passenger safety cell with a crumple zone, the airbag, and intelligent assistance systems. Mercedes-Benz applies for nearly 2000 patents per year, making the brand the European leader among premium carmakers. Mercedes-Benz is the leader in the premium car industry. With a huge selection of features and options, customers can choose the customized Mercedes-Benz of their dreams.
To ensure the safety and reliability of every unique car configuration before they hit the road, the company’s engineers have developed a robust testing system. As one of the world’s biggest manufacturers of premium cars, safety and efficiency are paramount on Mercedes-Benz’s production lines. However, optimizing the speed of their testing system for many possible feature combinations is complex and time-consuming without a powerful algorithmic approach.
You are required to reduce the time that cars spend on the test bench. Others will work with a dataset representing different permutations of features in a Mercedes-Benz car to predict the time it takes to pass testing. Optimal algorithms will contribute to faster testing, resulting in lower carbon dioxide emissions without reducing Mercedes-Benz’s standards.
Following actions should be performed:

- If for any column(s), the variance is equal to zero, then you need to remove those variable(s).
- Check for null and unique values for test and train sets.
- Apply label encoder.
- Perform dimensionality reduction.
- Predict your test_df values using XGBoost.

import pip
pip.main(['install', '<package>'])

In [35]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler

### Import train and test dataset

In [36]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')
print('Train dataset shape: ', train_df.shape)
print('Test dataset shape: ', test_df.shape)

Train dataset shape:  (4209, 378)
Test dataset shape:  (4209, 377)

In [37]:
train_df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [38]:
test_df.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0

### EDA
 - Check for missing/null values

In [39]:
train_df.isnull().sum()

ID      0
y       0
X0      0
X1      0
X2      0
       ..
X380    0
X382    0
X383    0
X384    0
X385    0
Length: 378, dtype: int64

There are no missing/null values in train dataset.
- Check the data types.

In [40]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB

Separate train dataset to train_x and train_y

In [41]:
train_x = train_df.drop(columns=['y', 'ID'])
y = train_df['y']
id_test = test_df['ID']

test_x = test_df.drop(['ID'], axis=1)

print('Train shape:', train_x.shape)
print('Test shape:', test_x.shape)

Train shape: (4209, 376)
Test shape: (4209, 376)

In [42]:
train_x_corr = pd.DataFrame(train_x.corr().isna().sum())

In [43]:
train_x_corr.loc[train_x_corr[0] > 12]

        0
X11   368
X93   368
X107  368
X233  368
X235  368
X268  368
X289  368
X290  368
X293  368
X297  368
X330  368
X347  368

In [44]:
# Drop the features that show no correlation with > 12 other features
print('Train set before drop:', train_x.shape)
train_x.drop(columns=['X11','X93', 'X107', 'X233', 'X235', 'X268', 'X289', 'X290','X293', 'X297', 'X330', 'X347'], inplace=True)
print('Train set after drop:', train_x.shape)

print('Test set before drop:', test_x.shape)
test_x.drop(columns=['X11','X93', 'X107', 'X233', 'X235', 'X268', 'X289', 'X290','X293', 'X297', 'X330', 'X347'], inplace=True)
print('Test set after drop:', test_x.shape)

Train set before drop: (4209, 376)
Train set after drop: (4209, 364)
Test set before drop: (4209, 376)
Test set after drop: (4209, 364)

### Preprocessing

In [45]:
# train set
train_cat_variables = train_x.select_dtypes(include=['object'])

# test set
test_cat_variables = test_x.select_dtypes(include=['object'])

train_cat_variables.shape, test_cat_variables.shape

((4209, 8), (4209, 8))

In [46]:
# convert categorical values into numerical using pd.get_dummies
# train set
train_cat_vars_dummies = pd.get_dummies(train_cat_variables, sparse=False)

# test set
test_cat_vars_dummies = pd.get_dummies(test_cat_variables, sparse=False)

train_cat_vars_dummies.shape, test_cat_vars_dummies.shape

((4209, 195), (4209, 201))

In [47]:
# create final train set by joining train_x and train_cat_variables
# drop cat variables from train_x
train_x_num = train_x.drop(columns=['X0','X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8'])
final_train_x = train_x_num.join(pd.DataFrame(train_cat_vars_dummies, train_x_num.index))


# create final test set by joining test_x and test_cat_vars_dummies
# drop cat variables from test_x
test_x_num = test_x.drop(columns=['X0','X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8'])
final_test_x = test_x_num.join(pd.DataFrame(test_cat_vars_dummies, test_x_num.index))

final_train_x.shape, final_test_x.shape

((4209, 551), (4209, 557))

In [48]:
final_train_x.describe().T

       count      mean       std  min  25%  50%  75%  max
X10   4209.0  0.013305  0.114590  0.0  0.0  0.0  0.0  1.0
X12   4209.0  0.075077  0.263547  0.0  0.0  0.0  0.0  1.0
X13   4209.0  0.057971  0.233716  0.0  0.0  0.0  0.0  1.0
X14   4209.0  0.428130  0.494867  0.0  0.0  0.0  1.0  1.0
X15   4209.0  0.000475  0.021796  0.0  0.0  0.0  0.0  1.0
...      ...       ...       ...  ...  ...  ...  ...  ...
X8_u  4209.0  0.028273  0.165771  0.0  0.0  0.0  0.0  1.0
X8_v  4209.0  0.046092  0.209709  0.0  0.0  0.0  0.0  1.0
X8_w  4209.0  0.046567  0.210734  0.0  0.0  0.0  0.0  1.0
X8_x  4209.0  0.024947  0.155981  0.0  0.0  0.0  0.0  1.0
X8_y  4209.0  0.027560  0.163728  0.0  0.0  0.0  0.0  1.0

[551 rows x 8 columns]

In [49]:
final_test_x.describe().T

       count      mean       std  min  25%  50%  75%  max
X10   4209.0  0.019007  0.136565  0.0  0.0  0.0  0.0  1.0
X12   4209.0  0.074364  0.262394  0.0  0.0  0.0  0.0  1.0
X13   4209.0  0.061060  0.239468  0.0  0.0  0.0  0.0  1.0
X14   4209.0  0.427893  0.494832  0.0  0.0  0.0  1.0  1.0
X15   4209.0  0.000713  0.026691  0.0  0.0  0.0  0.0  1.0
...      ...       ...       ...  ...  ...  ...  ...  ...
X8_u  4209.0  0.034212  0.181796  0.0  0.0  0.0  0.0  1.0
X8_v  4209.0  0.041340  0.199099  0.0  0.0  0.0  0.0  1.0
X8_w  4209.0  0.045617  0.208677  0.0  0.0  0.0  0.0  1.0
X8_x  4209.0  0.026134  0.159554  0.0  0.0  0.0  0.0  1.0
X8_y  4209.0  0.025184  0.156703  0.0  0.0  0.0  0.0  1.0

[557 rows x 8 columns]

### Dimensionality Reduction

In [50]:
from sklearn.decomposition import PCA

In [51]:
n_comp = 12
pca = PCA(n_components=n_comp, random_state=123)
pca2_train = pca.fit_transform(final_train_x)
pca2_test = pca.fit_transform(final_test_x)

### Training with XGBoost

In [52]:
import xgboost as xgb
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

In [53]:
train_x, val_x, train_y, val_y = train_test_split(pca2_train, y, test_size=0.2, random_state=123)

In [54]:
d_train = xgb.DMatrix(train_x, label=train_y)
d_val = xgb.DMatrix(val_x, label=val_y)
d_test = xgb.DMatrix(pca2_test)

In [55]:
params = {}
params['objective'] = 'reg:linear'
params['eta'] = 0.02
params['max_depth'] = 4

def xgb_r2_score(preds, dtrain):
  labels = dtrain.get_label()
  return 'r2', r2_score(labels, preds)
watchlist = [(d_train, 'train'), (d_val, 'valid')]
clf = xgb.train(params, d_train, 1000, watchlist, early_stopping_rounds=50, feval=xgb_r2_score, maximize=True, verbose_eval=10)

[13:06:08] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[0]	train-rmse:99.0154	valid-rmse:98.8036	train-r2:-58.9462	valid-r2:-64.3252
Multiple eval metrics have been passed: 'valid-r2' will be used for early stopping.

Will train until valid-r2 hasn't improved in 50 rounds.
[10]	train-rmse:81.1452	valid-rmse:80.9338	train-r2:-39.2608	valid-r2:-42.8324
[20]	train-rmse:66.5761	valid-rmse:66.3534	train-r2:-26.1014	valid-r2:-28.4619
[30]	train-rmse:54.7119	valid-rmse:54.4612	train-r2:-17.3029	valid-r2:-18.8477
[40]	train-rmse:45.0643	valid-rmse:44.7787	train-r2:-11.4171	valid-r2:-12.4177
[50]	train-rmse:37.2349	valid-rmse:36.9227	train-r2:-7.47729	valid-r2:-8.12268
[60]	train-rmse:30.9028	valid-rmse:30.564	train-r2:-4.83918	valid-r2:-5.25109
[70]	train-rmse:25.7971	valid-rmse:25.4289	train-r2:-3.06908	valid-r2:-3.32705
[80]	train-rmse:21.7089	valid-rmse:21.3089	train-r2:-1.88157	valid-r2:-2.03849
[90]	train-rmse:18.4579	valid-rmse:18.0312	train-r2:-1.08315	valid-r2:-1.17563
[100]	train-rmse:15.9028	valid-rmse:15.4527	train-r2:-0.54633	valid-r2:-0.597875
[110]	train-rmse:13.9101	valid-rmse:13.4605	train-r2:-0.18308	valid-r2:-0.212431
[120]	train-rmse:12.3742	valid-rmse:11.9384	train-r2:0.063749	valid-r2:0.04627
[130]	train-rmse:11.209	valid-rmse:10.798	train-r2:0.231773	valid-r2:0.219772
[140]	train-rmse:10.3461	valid-rmse:9.97805	train-r2:0.345501	valid-r2:0.333766
[150]	train-rmse:9.70887	valid-rmse:9.39762	train-r2:0.42364	valid-r2:0.409023
[160]	train-rmse:9.24323	valid-rmse:8.98799	train-r2:0.477599	valid-r2:0.45942
[170]	train-rmse:8.90677	valid-rmse:8.70915	train-r2:0.514939	valid-r2:0.492441
[180]	train-rmse:8.65375	valid-rmse:8.51263	train-r2:0.542106	valid-r2:0.515088
[190]	train-rmse:8.45865	valid-rmse:8.39661	train-r2:0.56252	valid-r2:0.528217
[200]	train-rmse:8.30985	valid-rmse:8.31557	train-r2:0.577777	valid-r2:0.537279
[210]	train-rmse:8.21053	valid-rmse:8.26075	train-r2:0.587809	valid-r2:0.54336
[220]	train-rmse:8.12526	valid-rmse:8.22137	train-r2:0.596326	valid-r2:0.547704
[230]	train-rmse:8.06228	valid-rmse:8.19343	train-r2:0.602559	valid-r2:0.550772
[240]	train-rmse:8.00761	valid-rmse:8.17303	train-r2:0.607931	valid-r2:0.553006
[250]	train-rmse:7.94913	valid-rmse:8.15964	train-r2:0.613637	valid-r2:0.55447
[260]	train-rmse:7.91047	valid-rmse:8.15129	train-r2:0.617386	valid-r2:0.555381
[270]	train-rmse:7.8742	valid-rmse:8.15045	train-r2:0.620887	valid-r2:0.555473
[280]	train-rmse:7.83754	valid-rmse:8.15005	train-r2:0.624409	valid-r2:0.555516
[290]	train-rmse:7.80523	valid-rmse:8.1568	train-r2:0.627499	valid-r2:0.55478
[300]	train-rmse:7.77607	valid-rmse:8.15969	train-r2:0.630277	valid-r2:0.554465
[310]	train-rmse:7.74705	valid-rmse:8.17107	train-r2:0.633031	valid-r2:0.553221
[320]	train-rmse:7.72124	valid-rmse:8.16987	train-r2:0.635472	valid-r2:0.553352
[330]	train-rmse:7.69594	valid-rmse:8.17202	train-r2:0.637857	valid-r2:0.553117
Stopping. Best iteration:
[286]	train-rmse:7.81863	valid-rmse:8.1478	train-r2:0.626219	valid-r2:0.555762

Predict test using xgboost

In [56]:
p_test = clf.predict(d_test)

In [57]:
sub = pd.DataFrame()
sub['ID'] = id_test
sub['y'] = p_test
sub.head()

   ID           y
0   1   80.789314
1   2   99.393311
2   3   81.998207
3   4   80.196411
4   5  107.178040