In [1]:
# import required packages
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression

In [2]:
# load data
housing_df = pd.read_csv('WestRoxbury.csv')

In [3]:
housing_df.shape # find the dimension of data frame

(5802, 14)

In [4]:
housing_df.head() # show the first five rows

,TOTAL VALUE,TAX,LOT SQFT,YR BUILT,GROSS AREA,LIVING AREA,FLOORS,ROOMS,BEDROOMS,FULL BATH,HALF BATH,KITCHEN,FIREPLACE,REMODEL
0,344.2,4330,9965,1880,2436,1352,2.0,6,3,1,1,1,0,None
1,412.6,5190,6590,1945,3108,1976,2.0,10,4,2,1,1,0,Recent
2,330.1,4152,7500,1890,2294,1371,2.0,8,4,1,1,1,0,None
3,498.6,6272,13773,1957,5032,2608,1.0,9,5,1,1,1,1,None
4,331.5,4170,5000,1910,2370,1438,2.0,7,3,2,0,1,0,None

In [5]:
print(housing_df) # show all the data

      TOTAL VALUE    TAX  LOT SQFT   YR BUILT  GROSS AREA   LIVING AREA  \
0            344.2  4330       9965      1880         2436         1352
1            412.6  5190       6590      1945         3108         1976
2            330.1  4152       7500      1890         2294         1371
3            498.6  6272      13773      1957         5032         2608
4            331.5  4170       5000      1910         2370         1438
...            ...   ...        ...       ...          ...          ...
5797         404.8  5092       6762      1938         2594         1714
5798         407.9  5131       9408      1950         2414         1333
5799         406.5  5113       7198      1987         2480         1674
5800         308.7  3883       6890      1946         2000         1000
5801         447.6  5630       7406      1950         2510         1600

      FLOORS   ROOMS  BEDROOMS   FULL BATH  HALF BATH  KITCHEN  FIREPLACE  \
0         2.0      6          3          1          1        1          0
1         2.0     10          4          2          1        1          0
2         2.0      8          4          1          1        1          0
3         1.0      9          5          1          1        1          1
4         2.0      7          3          2          0        1          0
...       ...    ...        ...        ...        ...      ...        ...
5797      2.0      9          3          2          1        1          1
5798      2.0      6          3          1          1        1          1
5799      2.0      7          3          1          1        1          1
5800      1.0      5          2          1          0        1          0
5801      2.0      7          3          1          1        1          1

     REMODEL
0       None
1     Recent
2       None
3       None
4       None
...      ...
5797  Recent
5798    None
5799    None
5800    None
5801    None

[5802 rows x 14 columns]

In [6]:
# Rename columns: Replace spaces with '_' to allow dot notation
housing_df = housing_df.rename(columns={'Total Value' : 'Total_Value'}) # explicit

In [7]:
housing_df.columns = [s.strip().replace(' ', '_') for s in housing_df.columns] # all columns

In [8]:
# Practice showing the first four rows of the data
housing_df.loc[0:3] # loc[a:b] gives rows a to b, inclusive

,TOTAL_VALUE,TAX,LOT_SQFT,YR_BUILT,GROSS_AREA,LIVING_AREA,FLOORS,ROOMS,BEDROOMS,FULL_BATH,HALF_BATH,KITCHEN,FIREPLACE,REMODEL
0,344.2,4330,9965,1880,2436,1352,2.0,6,3,1,1,1,0,None
1,412.6,5190,6590,1945,3108,1976,2.0,10,4,2,1,1,0,Recent
2,330.1,4152,7500,1890,2294,1371,2.0,8,4,1,1,1,0,None
3,498.6,6272,13773,1957,5032,2608,1.0,9,5,1,1,1,1,None

In [9]:
housing_df.iloc[0:4] # iloc[0:4] gives rows a to b-1

,TOTAL_VALUE,TAX,LOT_SQFT,YR_BUILT,GROSS_AREA,LIVING_AREA,FLOORS,ROOMS,BEDROOMS,FULL_BATH,HALF_BATH,KITCHEN,FIREPLACE,REMODEL
0,344.2,4330,9965,1880,2436,1352,2.0,6,3,1,1,1,0,None
1,412.6,5190,6590,1945,3108,1976,2.0,10,4,2,1,1,0,Recent
2,330.1,4152,7500,1890,2294,1371,2.0,8,4,1,1,1,0,None
3,498.6,6272,13773,1957,5032,2608,1.0,9,5,1,1,1,1,None

# Different ways of showing the first 10 values in the column TOTAL_VALUE

In [10]:
housing_df['TOTAL_VALUE'].iloc[0:10]

0    344.2
1    412.6
2    330.1
3    498.6
4    331.5
5    337.4
6    359.4
7    320.4
8    333.5
9    409.4
Name: TOTAL_VALUE, dtype: float64

In [11]:
housing_df.iloc[0:10]['TOTAL_VALUE']

0    344.2
1    412.6
2    330.1
3    498.6
4    331.5
5    337.4
6    359.4
7    320.4
8    333.5
9    409.4
Name: TOTAL_VALUE, dtype: float64

In [12]:
housing_df.iloc[0:10].TOTAL_VALUE # use dot notation if the column name has no spaces

0    344.2
1    412.6
2    330.1
3    498.6
4    331.5
5    337.4
6    359.4
7    320.4
8    333.5
9    409.4
Name: TOTAL_VALUE, dtype: float64

# Show the fifth row of the the first 10 columns

In [13]:
housing_df.iloc[4][0:10]

TOTAL_VALUE    331.5
TAX             4170
LOT_SQFT        5000
YR_BUILT        1910
GROSS_AREA      2370
LIVING_AREA     1438
FLOORS             2
ROOMS              7
BEDROOMS           3
FULL_BATH          2
Name: 4, dtype: object

In [14]:
housing_df.iloc[4, 0:10]

TOTAL_VALUE    331.5
TAX             4170
LOT_SQFT        5000
YR_BUILT        1910
GROSS_AREA      2370
LIVING_AREA     1438
FLOORS             2
ROOMS              7
BEDROOMS           3
FULL_BATH          2
Name: 4, dtype: object

In [15]:
housing_df.iloc[4:5, 0:10] # use a slice to return a data frame.

,TOTAL_VALUE,TAX,LOT_SQFT,YR_BUILT,GROSS_AREA,LIVING_AREA,FLOORS,ROOMS,BEDROOMS,FULL_BATH
4,331.5,4170,5000,1910,2370,1438,2.0,7,3,2

In [16]:
# pd.concat combines non-consecutive columns into a new data frame.
# The axis argument specifies the dimension along which the 
#  concatenation happens, 0=rows, 1=columns.
pd.concat([housing_df.iloc[4:6,0:2], housing_df.iloc[4:6,4:6]], axis=1)

   TOTAL_VALUE   TAX  GROSS_AREA  LIVING_AREA
4        331.5  4170        2370         1438
5        337.4  4244        2124         1060

In [17]:
# To specify a full column use:
# [rows:columns]
housing_df.iloc[1:2,0:1]

   TOTAL_VALUE
1        412.6

In [18]:
housing_df.TOTAL_VALUE

0       344.2
1       412.6
2       330.1
3       498.6
4       331.5
        ...
5797    404.8
5798    407.9
5799    406.5
5800    308.7
5801    447.6
Name: TOTAL_VALUE, Length: 5802, dtype: float64

# Descriptive statistics

In [19]:
print('Number of rows', len(housing_df['TOTAL_VALUE'])) # show the length of first column

Number of rows 5802

In [20]:
print('Mean of TOTAL_VALUE', housing_df['TOTAL_VALUE'].mean()) # show mean of column

Mean of TOTAL_VALUE 392.6857149258885

In [21]:
housing_df.describe() # show summary statistics for each column

,TOTAL_VALUE,TAX,LOT_SQFT,YR_BUILT,GROSS_AREA,LIVING_AREA,FLOORS,ROOMS,BEDROOMS,FULL_BATH,HALF_BATH,KITCHEN,FIREPLACE
count,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.00000,5802.000000
mean,392.685715,4939.485867,6278.083764,1936.744916,2924.842123,1657.065322,1.683730,6.994829,3.230093,1.296794,0.613926,1.01534,0.739917
std,99.177414,1247.649118,2669.707974,35.989910,883.984726,540.456726,0.444884,1.437657,0.846607,0.522040,0.533839,0.12291,0.565108
min,105.000000,1320.000000,997.000000,0.000000,821.000000,504.000000,1.000000,3.000000,1.000000,1.000000,0.000000,1.00000,0.000000
25%,325.125000,4089.500000,4772.000000,1920.000000,2347.000000,1308.000000,1.000000,6.000000,3.000000,1.000000,0.000000,1.00000,0.000000
50%,375.900000,4728.000000,5683.000000,1935.000000,2700.000000,1548.500000,2.000000,7.000000,3.000000,1.000000,1.000000,1.00000,1.000000
75%,438.775000,5519.500000,7022.250000,1955.000000,3239.000000,1873.750000,2.000000,8.000000,4.000000,2.000000,1.000000,1.00000,1.000000
max,1217.800000,15319.000000,46411.000000,2011.000000,8154.000000,5289.000000,3.000000,14.000000,9.000000,5.000000,3.000000,2.00000,4.000000

# Sampling in pandas

In [22]:
# random sample of 5 observations
housing_df.sample(5)

,TOTAL_VALUE,TAX,LOT_SQFT,YR_BUILT,GROSS_AREA,LIVING_AREA,FLOORS,ROOMS,BEDROOMS,FULL_BATH,HALF_BATH,KITCHEN,FIREPLACE,REMODEL
4132,330.0,4151,4000,1957,2220,1254,2.0,7,3,1,1,1,1,None
4322,412.4,5187,6250,1900,2975,1964,2.0,8,3,1,1,1,0,Old
4556,463.4,5829,6555,1965,2642,1718,2.0,8,4,2,0,1,1,Recent
2178,407.3,5123,8935,1959,2520,1174,1.0,7,3,1,1,1,1,None
1127,635.5,7994,6000,2004,4596,2796,2.0,9,4,2,2,1,1,None

In [23]:
# oversample houses with over 10 rooms
weights = [0.9 if rooms > 10 else 0.01 for rooms in housing_df.ROOMS]
housing_df.sample(6, weights=weights)

,TOTAL_VALUE,TAX,LOT_SQFT,YR_BUILT,GROSS_AREA,LIVING_AREA,FLOORS,ROOMS,BEDROOMS,FULL_BATH,HALF_BATH,KITCHEN,FIREPLACE,REMODEL
3291,605.5,7617,10233,1910,6549,3845,2.5,12,4,2,1,1,1,None
3457,689.3,8671,7000,1848,6235,3446,2.0,12,5,3,0,1,2,None
3285,667.2,8393,6030,1895,4858,2756,2.0,12,7,3,0,1,2,Recent
3837,476.1,5989,3620,1932,4118,3058,2.0,11,5,2,2,1,1,Recent
1059,336.2,4229,4136,1920,2837,1196,1.0,7,4,2,0,1,0,None
4661,512.6,6448,8400,1884,5106,2645,2.0,12,4,2,1,1,0,None

# Reviewing variables in pandas

In [24]:
housing_df.columns

Index(['TOTAL_VALUE', 'TAX', 'LOT_SQFT', 'YR_BUILT', 'GROSS_AREA',
       'LIVING_AREA', 'FLOORS', 'ROOMS', 'BEDROOMS', 'FULL_BATH', 'HALF_BATH',
       'KITCHEN', 'FIREPLACE', 'REMODEL'],
      dtype='object')

In [25]:
housing_df.REMODEL.dtype # Check the type of un-converted variable

dtype('O')

In [26]:
# REMODEL needs to be converted to a categorical variable
housing_df.REMODEL = housing_df.REMODEL.astype('category')

In [27]:
housing_df.REMODEL.cat.categories # show the number of categories

Index(['None', 'Old', 'Recent'], dtype='object')

In [28]:
housing_df.REMODEL.dtype # Check the type of converted variable

CategoricalDtype(categories=['None', 'Old', 'Recent'], ordered=False)

# Creating dummy variables in pandas

In [29]:
# use drop_first=True to drop the first dummy variable
housing_df = pd.get_dummies(housing_df, prefix_sep='_', drop_first=True)

In [30]:
housing_df.columns

Index(['TOTAL_VALUE', 'TAX', 'LOT_SQFT', 'YR_BUILT', 'GROSS_AREA',
       'LIVING_AREA', 'FLOORS', 'ROOMS', 'BEDROOMS', 'FULL_BATH', 'HALF_BATH',
       'KITCHEN', 'FIREPLACE', 'REMODEL_Old', 'REMODEL_Recent'],
      dtype='object')

In [31]:
housing_df.loc[:, 'REMODEL_Old':'REMODEL_Recent'].head(5)

   REMODEL_Old  REMODEL_Recent
0            0               0
1            0               1
2            0               0
3            0               0
4            0               0

# Missing Data

In [32]:
# To illustrate missing data procedures, we first a few entries
# for bedrooms to NA's. Then we impute these missing values using
# the median of the remaining values.
missingRows = housing_df.sample(10).index
missingRows

Int64Index([2238, 553, 5535, 2125, 3967, 1502, 5108, 1061, 1689, 1482], dtype='int64')

In [33]:
housing_df.loc[missingRows, 'BEDROOMS'] = np.nan

In [34]:
print('Number of rows with valid BEDROOMS values after setting to NAN:', housing_df['BEDROOMS'].count())

Number of rows with valid BEDROOMS values after setting to NAN: 5792

In [35]:
# print total rows in df
print(housing_df)

      TOTAL_VALUE   TAX  LOT_SQFT  YR_BUILT  GROSS_AREA  LIVING_AREA  FLOORS  \
0           344.2  4330      9965      1880        2436         1352     2.0
1           412.6  5190      6590      1945        3108         1976     2.0
2           330.1  4152      7500      1890        2294         1371     2.0
3           498.6  6272     13773      1957        5032         2608     1.0
4           331.5  4170      5000      1910        2370         1438     2.0
...           ...   ...       ...       ...         ...          ...     ...
5797        404.8  5092      6762      1938        2594         1714     2.0
5798        407.9  5131      9408      1950        2414         1333     2.0
5799        406.5  5113      7198      1987        2480         1674     2.0
5800        308.7  3883      6890      1946        2000         1000     1.0
5801        447.6  5630      7406      1950        2510         1600     2.0

      ROOMS  BEDROOMS  FULL_BATH  HALF_BATH  KITCHEN  FIREPLACE  REMODEL_Old  \
0         6       3.0          1          1        1          0            0
1        10       4.0          2          1        1          0            0
2         8       4.0          1          1        1          0            0
3         9       5.0          1          1        1          1            0
4         7       3.0          2          0        1          0            0
...     ...       ...        ...        ...      ...        ...          ...
5797      9       3.0          2          1        1          1            0
5798      6       3.0          1          1        1          1            0
5799      7       3.0          1          1        1          1            0
5800      5       2.0          1          0        1          0            0
5801      7       3.0          1          1        1          1            0

      REMODEL_Recent
0                  0
1                  1
2                  0
3                  0
4                  0
...              ...
5797               1
5798               0
5799               0
5800               0
5801               0

[5802 rows x 15 columns]

In [36]:
# remove rows with missing values
reduced_df = housing_df.dropna()

In [37]:
print('Number of rows after removing rows with missing values:', len(reduced_df))

Number of rows after removing rows with missing values: 5792

In [38]:
# replace missing values using the median of the remaining values.
medianBedrooms = housing_df['BEDROOMS'].median()

In [39]:
housing_df.BEDROOMS = housing_df.BEDROOMS.fillna(value=medianBedrooms)

In [40]:
print('Number of rows with valid BEDROOMS values after filling NA values:', housing_df['BEDROOMS'].count())

Number of rows with valid BEDROOMS values after filling NA values: 5802

# Normalizing and rescaling data

In [41]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler
df = housing_df.copy()

In [42]:
# Normalizing a data frame
# pandas:
norm_df = (housing_df - housing_df.mean()) / housing_df.std() # z-score
print(norm_df)

      TOTAL_VALUE       TAX  LOT_SQFT  YR_BUILT  GROSS_AREA  LIVING_AREA  \
0       -0.488879 -0.488507  1.381019 -1.576690   -0.552998    -0.564458
1        0.200795  0.200789  0.116835  0.229372    0.207196     0.590121
2       -0.631048 -0.631176  0.457697 -1.298834   -0.713635    -0.529303
3        1.067927  1.068020  2.807392  0.562799    2.383704     1.759502
4       -0.616932 -0.616749 -0.478735 -0.743123   -0.627660    -0.405334
...           ...       ...       ...       ...         ...          ...
5797     0.122148  0.122241  0.181262  0.034873   -0.374262     0.105345
5798     0.153405  0.153500  1.172381  0.368300   -0.577886    -0.599614
5799     0.139289  0.139073  0.344576  1.396366   -0.503224     0.031334
5800    -0.846823 -0.846781  0.229207  0.257158   -1.046220    -1.215759
5801     0.553697  0.553452  0.422487  0.368300   -0.469287    -0.105587

        FLOORS     ROOMS  BEDROOMS  FULL_BATH  HALF_BATH   KITCHEN  FIREPLACE  \
0     0.710905 -0.691980 -0.272351  -0.568528   0.723202 -0.124803  -1.309337
1     0.710905  2.090325  0.909535   1.347035   0.723202 -0.124803  -1.309337
2     0.710905  0.699173  0.909535  -0.568528   0.723202 -0.124803  -1.309337
3    -1.536872  1.394749  2.091420  -0.568528   0.723202 -0.124803   0.460235
4     0.710905  0.003597 -0.272351   1.347035  -1.150021 -0.124803  -1.309337
...        ...       ...       ...        ...        ...       ...        ...
5797  0.710905  1.394749 -0.272351   1.347035   0.723202 -0.124803   0.460235
5798  0.710905 -0.691980 -0.272351  -0.568528   0.723202 -0.124803   0.460235
5799  0.710905  0.003597 -0.272351  -0.568528   0.723202 -0.124803   0.460235
5800 -1.536872 -1.387556 -1.454237  -0.568528  -1.150021 -0.124803  -1.309337
5801  0.710905  0.003597 -0.272351  -0.568528   0.723202 -0.124803   0.460235

      REMODEL_Old  REMODEL_Recent
0        -0.33356       -0.421381
1        -0.33356        2.372738
2        -0.33356       -0.421381
3        -0.33356       -0.421381
4        -0.33356       -0.421381
...           ...             ...
5797     -0.33356        2.372738
5798     -0.33356       -0.421381
5799     -0.33356       -0.421381
5800     -0.33356       -0.421381
5801     -0.33356       -0.421381

[5802 rows x 15 columns]

In [43]:
# scikit-learn:
scaler = StandardScaler() # set scaler to an instance of class StandardScaler
norm_df = pd.DataFrame(scaler.fit_transform(housing_df), index=housing_df.index, columns=housing_df.columns)
# the result of the transformation is a numpy array, we convert it into a dataframe
# Rescaling a data frame
# pandas:
norm_df = (housing_df - housing_df.min()) / (housing_df.max() - housing_df.min())
# scikit-learn:
scaler = MinMaxScaler()
norm_df = pd.DataFrame(scaler.fit_transform(housing_df), index=housing_df.index, columns=housing_df.columns)

# Data Partitioning in Python
code for partitioning the Wetst Roxbury data into training, validation (and test) sets.

In [44]:
# random_state is set to a defined value to get the same partitions when re-running
# the code
# training (60
trainData, validData = train_test_split(housing_df, test_size=0.40, random_state=1)
print('Training : ', trainData.shape)

Training :  (3481, 15)

In [45]:
print('Validation : ', validData.shape)

Validation :  (2321, 15)

In [46]:
print()

In [47]:
# training (50
trainData, temp = train_test_split(housing_df, test_size=0.5, random_state=1)
validData, testData = train_test_split(temp, test_size=0.4, random_state=1)

In [48]:
print('Training : ', trainData.shape)
print('Validation : ', validData.shape)
print('Test : ', testData.shape)

Training :  (2901, 15)
Validation :  (1740, 15)
Test :  (1161, 15)

# Fitting a regression model to training data (West Roxbury)

In [49]:
from sklearn.linear_model import LinearRegression
# data loading and preprocessing
housing_df = pd.read_csv('WestRoxbury.csv') # set variable housing_df to an instance of pandas dataframe and call the read csv() function while passing 'WestRoxbury.csv' parameter.

In [50]:
housing_df.columns = [s.strip().replace(' ', '_') for s in housing_df.columns] # For each column in housing_df replace the space (' ') between a value with an underscore (_).

In [51]:
housing_df = pd.get_dummies(housing_df, prefix_sep='_', drop_first=True)

In [52]:
# Create a list of predictors and outcome

In [53]:
excludeColumns = ('TOTAL_VALUE', 'TAX') # We want to predict 'total_value' and 'tax' is not a good predictor of total value; 'tax' id depended on 'total_value'

In [54]:
predictors = [s for s in housing_df.columns if s not in excludeColumns] # setting predictors to columns in housing_df.columns except for the excludeColumns values

In [55]:
outcome = 'TOTAL_VALUE'

In [56]:
# partition data
print(predictors)
X = housing_df[predictors]
y = housing_df[outcome]

['LOT_SQFT', 'YR_BUILT', 'GROSS_AREA', 'LIVING_AREA', 'FLOORS', 'ROOMS', 'BEDROOMS', 'FULL_BATH', 'HALF_BATH', 'KITCHEN', 'FIREPLACE', 'REMODEL_Old', 'REMODEL_Recent']

In [57]:
train_X, valid_X, train_y, valid_y = train_test_split(X, y, test_size=0.4, random_state=1) # test_size represents the absolute number of test samples. random_state controls the shuffling applied to the data before applying the split; pass an int for reproducible output across multiple function calls.

In [58]:
model = LinearRegression()

In [59]:
model.fit(train_X, train_y) # train_X = training data : train_y = target values

LinearRegression()

In [60]:
train_pred = model.predict(train_X) # predict using linear model. returns predicted values.

In [61]:
train_results = pd.DataFrame({'TOTAL_VALUE': train_y, 'predicted': train_pred, 'residual': train_y - train_pred})

In [62]:
train_results.head()

      TOTAL_VALUE   predicted   residual
2024        392.0  387.726258   4.273742
5140        476.3  430.785540  45.514460
5259        367.4  384.042952 -16.642952
421         350.3  369.005551 -18.705551
1401        348.1  314.725722  33.374278

# Applying the regression model to predict validation set

In [63]:
valid_pred = model.predict(valid_X)
valid_results = pd.DataFrame({'TOTAL_VALUE': valid_y, 'predicted': valid_pred, 'residual': valid_y - valid_pred})
valid_results.head()

      TOTAL_VALUE   predicted   residual
1822        462.0  406.946377  55.053623
1998        370.4  362.888928   7.511072
5126        407.4  390.287208  17.112792
808         316.1  382.470203 -66.370203
4034        393.2  434.334998 -41.134998

# Computing model evaluation metrics

In [64]:
#pip install dmba

Requirement already satisfied: dmba in /opt/anaconda3/lib/python3.8/site-packages (0.0.18)
Note: you may need to restart the kernel to use updated packages.

In [65]:
# import the utility function regressionSummary
from dmba import regressionSummary
# training set
regressionSummary(train_results.TOTAL_VALUE, train_results.predicted)
# validation set
regressionSummary(valid_results.TOTAL_VALUE, valid_results.predicted)

no display found. Using non-interactive Agg backend

Regression statistics

                      Mean Error (ME) : -0.0000
       Root Mean Squared Error (RMSE) : 43.0306
            Mean Absolute Error (MAE) : 32.6042
          Mean Percentage Error (MPE) : -1.1116
Mean Absolute Percentage Error (MAPE) : 8.4886

Regression statistics

                      Mean Error (ME) : -0.1463
       Root Mean Squared Error (RMSE) : 42.7292
            Mean Absolute Error (MAE) : 31.9663
          Mean Percentage Error (MPE) : -1.0884
Mean Absolute Percentage Error (MAPE) : 8.3283

# Data frame with three records to be scored

In [67]:
new_data = pd.DataFrame({
    'LOT_SQFT': [4200, 6444, 5035],
    'YR_BUILT': [1960, 1940, 1925], 
    'GROSS_AREA': [2670, 2886, 3264], 
    'LIVING_AREA': [1710, 1474, 1523],
    'FLOORS': [2.0, 1.5, 1.9],
    'ROOMS': [10, 6, 6],
    'BEDROOMS': [4, 3, 2],
    'FULL_BATH': [1, 1, 1],
    'HALT_BATH': [1, 1, 0],
    'KITCHEN': [1, 1, 1],
    'FIREPLACE': [1, 1, 0], 
    'REMODEL_Old': [0, 0, 0],
    'REMODEL_Recent': [0, 0, 1]
})
print(new_data)
print('Predictions: ', model.predict(new_data))

   LOT_SQFT  YR_BUILT  GROSS_AREA  LIVING_AREA  FLOORS  ROOMS  BEDROOMS  \
0      4200      1960        2670         1710     2.0     10         4
1      6444      1940        2886         1474     1.5      6         3
2      5035      1925        3264         1523     1.9      6         2

   FULL_BATH  HALT_BATH  KITCHEN  FIREPLACE  REMODEL_Old  REMODEL_Recent
0          1          1        1          1            0               0
1          1          1        1          1            0               0
2          1          0        1          0            0               1
Predictions:  [384.47210285 378.06696706 386.01773842]