### DESCRIPTION

Mtcars, an automobile company in Chambersburg, United States, has recorded the production of its cars within a dataset. In order to classify cars, the company has come up with two classification models (KNN and Logistic Regression).

**Objective**: Perform a model selection between the two models above using the sampling technique as 10-fold cross-validation.

In [1]:
# load mtcars dataset
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('mtcars.csv')
df.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   model   32 non-null     object
 1   mpg     32 non-null     float64
 2   cyl     32 non-null     int64
 3   disp    32 non-null     float64
 4   hp      32 non-null     int64
 5   drat    32 non-null     float64
 6   wt      32 non-null     float64
 7   qsec    32 non-null     float64
 8   vs      32 non-null     int64
 9   am      32 non-null     int64
 10  gear    32 non-null     int64
 11  carb    32 non-null     int64
dtypes: float64(5), int64(6), object(1)
memory usage: 3.1+ KB

In [4]:
# create x and y variables
y = df['model']
x = df.drop(columns='model')
x.shape, y.shape

((32, 11), (32,))

In [5]:
# use k-fold to split dataset into random k groups
from sklearn.model_selection import KFold
kf = KFold(n_splits=10, shuffle=True)

for train_set,test_set in kf.split(x,y):
    print(train_set, test_set)

In [6]:
# KNN classifier
from sklearn.neighbors import KNeighborsClassifier

In [7]:
# instantiate KNN
knn_model = KNeighborsClassifier(algorithm='auto', n_jobs=-1)

In [8]:
# cross val score to evaluate model accuracy
from sklearn.model_selection import cross_val_score

In [9]:
print(cross_val_score(knn_model, x, y, scoring='accuracy', cv=kf))

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]